@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>
<style>
    body {
        background-image: url('https://wallpapercat.com/w/full/2/2/9/177444-3840x2160-desktop-4k-clouds-background-image.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        font-family: 'Segoe UI', sans-serif;
    }
    .M{
        font-weight: bold;
        font-family: 'Times New Roman';
    }
</style>

<p class="M">This is the privacy policy page for your application. You can include your privacy practices and terms here.</p>
